#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.title {
  justify-content: center;
  margin-bottom: 30px;
  padding-bottom: 30px;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.basketball {
  padding-top: 30px;
  display: block;
  margin: 0 auto;
  
  animation: logo-spin 5s linear infinite;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}